# This case study consists of 1000 marks and the solution file is expected to be submitted in the upcoming session for evaluation.

In [ ]:
Data wrangling / Data munging

Data wrangling , sometimes referred to as data munging, is the process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics.

The data transformations are typically applied to distinct entities (e.g. fields, rows, columns, data values etc.) within a data set, and could include such actions as extractions, parsing, joining, standardizing, augmenting, cleansing, consolidating and filtering to create desired wrangling outputs that can be leveraged downstream.

The recipients could be individuals, such as data architects or data scientists who will investigate the data further, business users who will consume the data directly in reports, or systems that will further process the data and write it into targets such as data warehouses, data lakes or downstream applications.

Data munging broadly consists of following steps :

* Data Ingestion
* Data merging
* Quick data exploration
* Checking initial stats of the data
* Cleaning the data 
    * check for missing values
    * Treat missing values
    * check for inconsistencies in names / values across data columns
    * Treat data inconsistencies
    * renaming columns names
    * introduce new columns after cleaning
* Exploratory Data Analysis (EDA)
    * Data visualisation
    * Data distribution checking
    * Detailed data stats study
    * Check and treat outliers
* Feature engineering 
    * Binning
    * categorical features to one hot feature conversion
    * categorical features to factorized features
    * creating interactive features
    * creating polynomial features
    * deriving features
    * acquiring more features
* Preprocesssing 
    * feature scaling
    * feature normalization 
    * training data format changing as per ML algo

## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Data input

In [2]:
# Download
DATASET = (
    "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",
    "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names",
    "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test",
)

In [3]:
# Load Training and Test Data Sets
headers = ['age', 'workclass', 'fnlwgt', 
           'education', 'education-num', 
           'marital-status', 'occupation', 
           'relationship', 'race', 'sex', 
           'capital-gain', 'capital-loss', 
           'hours-per-week', 'native-country', 
           'predclass']
training_raw = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', 
                       header=None, 
                       names=headers,na_values=["?"])
test_raw = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test', 
                      header=None, 
                      names=headers,na_values=["?"])

In [4]:
# Join Datasets
dataset_raw = training_raw.append(test_raw)
dataset_raw.reset_index(inplace=True)
dataset_raw.drop('index',inplace=True,axis=1)

## Data intial stats checking

In [5]:
dataset_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48843 entries, 0 to 48842
Data columns (total 15 columns):
age               48843 non-null object
workclass         48842 non-null object
fnlwgt            48842 non-null float64
education         48842 non-null object
education-num     48842 non-null float64
marital-status    48842 non-null object
occupation        48842 non-null object
relationship      48842 non-null object
race              48842 non-null object
sex               48842 non-null object
capital-gain      48842 non-null float64
capital-loss      48842 non-null float64
hours-per-week    48842 non-null float64
native-country    48842 non-null object
predclass         48842 non-null object
dtypes: float64(5), object(10)
memory usage: 5.6+ MB

In [6]:
# Describing all the Numerical Features
dataset_raw.describe()

             fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
count  4.884200e+04   48842.000000  48842.000000  48842.000000    48842.000000
mean   1.896641e+05      10.078089   1079.067626     87.502314       40.422382
std    1.056040e+05       2.570973   7452.019058    403.004552       12.391444
min    1.228500e+04       1.000000      0.000000      0.000000        1.000000
25%    1.175505e+05       9.000000      0.000000      0.000000       40.000000
50%    1.781445e+05      10.000000      0.000000      0.000000       40.000000
75%    2.376420e+05      12.000000      0.000000      0.000000       45.000000
max    1.490400e+06      16.000000  99999.000000   4356.000000       99.000000

In [7]:
# Describing all the Categorical Features
dataset_raw.describe(include=['O'])

,age,workclass,education,marital-status,occupation,relationship,race,sex,native-country,predclass
count,48843,48842,48842,48842,48842,48842,48842,48842,48842,48842
unique,147,9,16,7,15,6,5,2,42,4
top,36,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,898,33906,15784,22379,6172,19716,41762,32650,43832,24720

## Q1) Check for missing values

In [8]:
dataset_raw.isnull()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,predclass
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48813,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48814,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48815,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48816,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48817,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48818,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48819,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48820,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48821,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48822,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48823,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48824,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48825,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48826,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48827,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48828,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48829,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48830,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48831,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48832,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48833,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48834,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48835,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48836,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48837,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48838,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48839,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48840,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48841,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48842,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Q2) For columns with missing values, print the number of rows with missing values

In [12]:
dataset_raw.isnull().sum(axis=0)

age               0
workclass         1
fnlwgt            1
education         1
education-num     1
marital-status    1
occupation        1
relationship      1
race              1
sex               1
capital-gain      1
capital-loss      1
hours-per-week    1
native-country    1
predclass         1
dtype: int64

## Q3) For columns with missing values, print the percentage of rows with missing values

In [22]:
percent_missing = dataset_raw.isnull().sum() * 100 / len(dataset_raw)
percent_missing

age               0.000000
workclass         0.002047
fnlwgt            0.002047
education         0.002047
education-num     0.002047
marital-status    0.002047
occupation        0.000000
relationship      0.002047
race              0.002047
sex               0.002047
capital-gain      0.002047
capital-loss      0.002047
hours-per-week    0.002047
native-country    0.002047
predclass         0.002047
dtype: float64

In [14]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

## Q4) Use the DataFrameImputer class defined above to impute values to rows with  missing values.

In [17]:
X = pd.DataFrame(dataset_raw)
xt = DataFrameImputer().fit_transform(X)

print('before...')
print(X)
print('after...')
print(xt)

before...
      age          workclass    fnlwgt      education  education-num  \
0      39          State-gov   77516.0      Bachelors           13.0
1      50   Self-emp-not-inc   83311.0      Bachelors           13.0
2      38            Private  215646.0        HS-grad            9.0
3      53            Private  234721.0           11th            7.0
4      28            Private  338409.0      Bachelors           13.0
5      37            Private  284582.0        Masters           14.0
6      49            Private  160187.0            9th            5.0
7      52   Self-emp-not-inc  209642.0        HS-grad            9.0
8      31            Private   45781.0        Masters           14.0
9      42            Private  159449.0      Bachelors           13.0
10     37            Private  280464.0   Some-college           10.0
11     30          State-gov  141297.0      Bachelors           13.0
12     23            Private  122272.0      Bachelors           13.0
13     32            Private  205019.0     Assoc-acdm           12.0
14     40            Private  121772.0      Assoc-voc           11.0
15     34            Private  245487.0        7th-8th            4.0
16     25   Self-emp-not-inc  176756.0        HS-grad            9.0
17     32            Private  186824.0        HS-grad            9.0
18     38            Private   28887.0           11th            7.0
19     43   Self-emp-not-inc  292175.0        Masters           14.0
20     40            Private  193524.0      Doctorate           16.0
21     54            Private  302146.0        HS-grad            9.0
22     35        Federal-gov   76845.0            9th            5.0
23     43            Private  117037.0           11th            7.0
24     59            Private  109015.0        HS-grad            9.0
25     56          Local-gov  216851.0      Bachelors           13.0
26     19            Private  168294.0        HS-grad            9.0
27     54                  ?  180211.0   Some-college           10.0
28     39            Private  367260.0        HS-grad            9.0
29     49            Private  193366.0        HS-grad            9.0
...    ..                ...       ...            ...            ...
48813  81                  ?   26711.0      Assoc-voc           11.0
48814  60            Private  117909.0      Assoc-voc           11.0
48815  39            Private  229647.0      Bachelors           13.0
48816  38            Private  149347.0        Masters           14.0
48817  43          Local-gov   23157.0        Masters           14.0
48818  23            Private   93977.0        HS-grad            9.0
48819  73       Self-emp-inc  159691.0   Some-college           10.0
48820  35            Private  176967.0   Some-college           10.0
48821  66            Private  344436.0        HS-grad            9.0
48822  27            Private  430340.0   Some-college           10.0
48823  40            Private  202168.0    Prof-school           15.0
48824  51            Private   82720.0        HS-grad            9.0
48825  22            Private  269623.0   Some-college           10.0
48826  64   Self-emp-not-inc  136405.0        HS-grad            9.0
48827  50          Local-gov  139347.0        Masters           14.0
48828  55            Private  224655.0        HS-grad            9.0
48829  38            Private  247547.0      Assoc-voc           11.0
48830  58            Private  292710.0     Assoc-acdm           12.0
48831  32            Private  173449.0        HS-grad            9.0
48832  48            Private  285570.0        HS-grad            9.0
48833  61            Private   89686.0        HS-grad            9.0
48834  31            Private  440129.0        HS-grad            9.0
48835  25            Private  350977.0        HS-grad            9.0
48836  48          Local-gov  349230.0        Masters           14.0
48837  33            Private  245211.0      Bachelors           13.0
48838  39            Private  215419.0      Bachelors           13.0
48839  64                  ?  321403.0        HS-grad            9.0
48840  38            Private  374983.0      Bachelors           13.0
48841  44            Private   83891.0      Bachelors           13.0
48842  35       Self-emp-inc  182148.0      Bachelors           13.0

               marital-status         occupation     relationship  \
0               Never-married       Adm-clerical    Not-in-family
1          Married-civ-spouse    Exec-managerial          Husband
2                    Divorced  Handlers-cleaners    Not-in-family
3          Married-civ-spouse  Handlers-cleaners          Husband
4          Married-civ-spouse     Prof-specialty             Wife
5          Married-civ-spouse    Exec-managerial             Wife
6       Married-spouse-absent      Other-service    Not-in-family
7          Married-civ-spouse    Exec-managerial          Husband
8               Never-married     Prof-specialty    Not-in-family
9          Married-civ-spouse    Exec-managerial          Husband
10         Married-civ-spouse    Exec-managerial          Husband
11         Married-civ-spouse     Prof-specialty          Husband
12              Never-married       Adm-clerical        Own-child
13              Never-married              Sales    Not-in-family
14         Married-civ-spouse       Craft-repair          Husband
15         Married-civ-spouse   Transport-moving          Husband
16              Never-married    Farming-fishing        Own-child
17              Never-married  Machine-op-inspct        Unmarried
18         Married-civ-spouse              Sales          Husband
19                   Divorced    Exec-managerial        Unmarried
20         Married-civ-spouse     Prof-specialty          Husband
21                  Separated      Other-service        Unmarried
22         Married-civ-spouse    Farming-fishing          Husband
23         Married-civ-spouse   Transport-moving          Husband
24                   Divorced       Tech-support        Unmarried
25         Married-civ-spouse       Tech-support          Husband
26              Never-married       Craft-repair        Own-child
27         Married-civ-spouse                  ?          Husband
28                   Divorced    Exec-managerial    Not-in-family
29         Married-civ-spouse       Craft-repair          Husband
...                       ...                ...              ...
48813      Married-civ-spouse                  ?          Husband
48814      Married-civ-spouse     Prof-specialty          Husband
48815           Never-married       Tech-support    Not-in-family
48816      Married-civ-spouse     Prof-specialty          Husband
48817      Married-civ-spouse    Exec-managerial          Husband
48818           Never-married  Machine-op-inspct        Own-child
48819                Divorced    Exec-managerial    Not-in-family
48820      Married-civ-spouse    Protective-serv          Husband
48821                 Widowed              Sales   Other-relative
48822           Never-married              Sales    Not-in-family
48823      Married-civ-spouse     Prof-specialty          Husband
48824      Married-civ-spouse       Craft-repair          Husband
48825           Never-married       Craft-repair        Own-child
48826                 Widowed    Farming-fishing    Not-in-family
48827      Married-civ-spouse     Prof-specialty             Wife
48828               Separated    Priv-house-serv    Not-in-family
48829           Never-married       Adm-clerical        Unmarried
48830                Divorced     Prof-specialty    Not-in-family
48831      Married-civ-spouse  Handlers-cleaners          Husband
48832      Married-civ-spouse       Adm-clerical          Husband
48833      Married-civ-spouse              Sales          Husband
48834      Married-civ-spouse       Craft-repair          Husband
48835           Never-married      Other-service        Own-child
48836                Divorced      Other-service    Not-in-family
48837           Never-married     Prof-specialty        Own-child
48838                Divorced     Prof-specialty    Not-in-family
48839                 Widowed                  ?   Other-relative
48840      Married-civ-spouse     Prof-specialty          Husband
48841                Divorced       Adm-clerical        Own-child
48842      Married-civ-spouse    Exec-managerial          Husband

                      race      sex  capital-gain  capital-loss  \
0                    White     Male        2174.0           0.0
1                    White     Male           0.0           0.0
2                    White     Male           0.0           0.0
3                    Black     Male           0.0           0.0
4                    Black   Female           0.0           0.0
5                    White   Female           0.0           0.0
6                    Black   Female           0.0           0.0
7                    White     Male           0.0           0.0
8                    White   Female       14084.0           0.0
9                    White     Male        5178.0           0.0
10                   Black     Male           0.0           0.0
11      Asian-Pac-Islander     Male           0.0           0.0
12                   White   Female           0.0           0.0
13                   Black     Male           0.0           0.0
14      Asian-Pac-Islander     Male           0.0           0.0
15      Amer-Indian-Eskimo     Male           0.0           0.0
16                   White     Male           0.0           0.0
17                   White     Male           0.0           0.0
18                   White     Male           0.0           0.0
19                   White   Female           0.0           0.0
20                   White     Male           0.0           0.0
21                   Black   Female           0.0           0.0
22                   Black     Male           0.0           0.0
23                   White     Male           0.0        2042.0
24                   White   Female           0.0           0.0
25                   White     Male           0.0           0.0
26                   White     Male           0.0           0.0
27      Asian-Pac-Islander     Male           0.0           0.0
28                   White     Male           0.0           0.0
29                   White     Male           0.0           0.0
...                    ...      ...           ...           ...
48813                White     Male        2936.0           0.0
48814                White     Male        7688.0           0.0
48815                White   Female           0.0        1669.0
48816                White     Male           0.0           0.0
48817                White     Male           0.0        1902.0
48818                White     Male           0.0           0.0
48819                White   Female           0.0           0.0
48820                White     Male           0.0           0.0
48821                White   Female           0.0           0.0
48822                White   Female           0.0           0.0
48823                White     Male       15024.0           0.0
48824                White     Male           0.0           0.0
48825                White     Male           0.0           0.0
48826                White     Male           0.0           0.0
48827                White   Female           0.0           0.0
48828                White   Female           0.0           0.0
48829                Black   Female           0.0           0.0
48830                White     Male           0.0           0.0
48831                White     Male           0.0           0.0
48832                White     Male           0.0           0.0
48833                White     Male           0.0           0.0
48834                White     Male           0.0           0.0
48835                White   Female           0.0           0.0
48836                White     Male           0.0           0.0
48837                White     Male           0.0           0.0
48838                White   Female           0.0           0.0
48839                Black     Male           0.0           0.0
48840                White     Male           0.0           0.0
48841   Asian-Pac-Islander     Male        5455.0           0.0
48842                White     Male           0.0           0.0

       hours-per-week  native-country predclass
0                40.0   United-States     <=50K
1                13.0   United-States     <=50K
2                40.0   United-States     <=50K
3                40.0   United-States     <=50K
4                40.0            Cuba     <=50K
5                40.0   United-States     <=50K
6                16.0         Jamaica     <=50K
7                45.0   United-States      >50K
8                50.0   United-States      >50K
9                40.0   United-States      >50K
10               80.0   United-States      >50K
11               40.0           India      >50K
12               30.0   United-States     <=50K
13               50.0   United-States     <=50K
14               40.0               ?      >50K
15               45.0          Mexico     <=50K
16               35.0   United-States     <=50K
17               40.0   United-States     <=50K
18               50.0   United-States     <=50K
19               45.0   United-States      >50K
20               60.0   United-States      >50K
21               20.0   United-States     <=50K
22               40.0   United-States     <=50K
23               40.0   United-States     <=50K
24               40.0   United-States     <=50K
25               40.0   United-States      >50K
26               40.0   United-States     <=50K
27               60.0           South      >50K
28               80.0   United-States     <=50K
29               40.0   United-States     <=50K
...               ...             ...       ...
48813            20.0   United-States    <=50K.
48814            40.0   United-States     >50K.
48815            40.0   United-States    <=50K.
48816            50.0   United-States     >50K.
48817            50.0   United-States     >50K.
48818            40.0   United-States    <=50K.
48819            40.0   United-States    <=50K.
48820            40.0   United-States    <=50K.
48821             8.0   United-States    <=50K.
48822            45.0   United-States    <=50K.
48823            55.0   United-States     >50K.
48824            40.0   United-States    <=50K.
48825            40.0   United-States    <=50K.
48826            32.0   United-States    <=50K.
48827            40.0               ?     >50K.
48828            32.0   United-States    <=50K.
48829            40.0   United-States    <=50K.
48830            36.0   United-States    <=50K.
48831            40.0   United-States    <=50K.
48832            40.0   United-States    <=50K.
48833            48.0   United-States    <=50K.
48834            40.0   United-States    <=50K.
48835            40.0   United-States    <=50K.
48836            40.0   United-States    <=50K.
48837            40.0   United-States    <=50K.
48838            36.0   United-States    <=50K.
48839            40.0   United-States    <=50K.
48840            50.0   United-States    <=50K.
48841            40.0   United-States    <=50K.
48842            60.0   United-States     >50K.

[48843 rows x 15 columns]
after...
      age          workclass    fnlwgt      education  education-num  \
0      39          State-gov   77516.0      Bachelors           13.0
1      50   Self-emp-not-inc   83311.0      Bachelors           13.0
2      38            Private  215646.0        HS-grad            9.0
3      53            Private  234721.0           11th            7.0
4      28            Private  338409.0      Bachelors           13.0
5      37            Private  284582.0        Masters           14.0
6      49            Private  160187.0            9th            5.0
7      52   Self-emp-not-inc  209642.0        HS-grad            9.0
8      31            Private   45781.0        Masters           14.0
9      42            Private  159449.0      Bachelors           13.0
10     37            Private  280464.0   Some-college           10.0
11     30          State-gov  141297.0      Bachelors           13.0
12     23            Private  122272.0      Bachelors           13.0
13     32            Private  205019.0     Assoc-acdm           12.0
14     40            Private  121772.0      Assoc-voc           11.0
15     34            Private  245487.0        7th-8th            4.0
16     25   Self-emp-not-inc  176756.0        HS-grad            9.0
17     32            Private  186824.0        HS-grad            9.0
18     38            Private   28887.0           11th            7.0
19     43   Self-emp-not-inc  292175.0        Masters           14.0
20     40            Private  193524.0      Doctorate           16.0
21     54            Private  302146.0        HS-grad            9.0
22     35        Federal-gov   76845.0            9th            5.0
23     43            Private  117037.0           11th            7.0
24     59            Private  109015.0        HS-grad            9.0
25     56          Local-gov  216851.0      Bachelors           13.0
26     19            Private  168294.0        HS-grad            9.0
27     54                  ?  180211.0   Some-college           10.0
28     39            Private  367260.0        HS-grad            9.0
29     49            Private  193366.0        HS-grad            9.0
...    ..                ...       ...            ...            ...
48813  81                  ?   26711.0      Assoc-voc           11.0
48814  60            Private  117909.0      Assoc-voc           11.0
48815  39            Private  229647.0      Bachelors           13.0
48816  38            Private  149347.0        Masters           14.0
48817  43          Local-gov   23157.0        Masters           14.0
48818  23            Private   93977.0        HS-grad            9.0
48819  73       Self-emp-inc  159691.0   Some-college           10.0
48820  35            Private  176967.0   Some-college           10.0
48821  66            Private  344436.0        HS-grad            9.0
48822  27            Private  430340.0   Some-college           10.0
48823  40            Private  202168.0    Prof-school           15.0
48824  51            Private   82720.0        HS-grad            9.0
48825  22            Private  269623.0   Some-college           10.0
48826  64   Self-emp-not-inc  136405.0        HS-grad            9.0
48827  50          Local-gov  139347.0        Masters           14.0
48828  55            Private  224655.0        HS-grad            9.0
48829  38            Private  247547.0      Assoc-voc           11.0
48830  58            Private  292710.0     Assoc-acdm           12.0
48831  32            Private  173449.0        HS-grad            9.0
48832  48            Private  285570.0        HS-grad            9.0
48833  61            Private   89686.0        HS-grad            9.0
48834  31            Private  440129.0        HS-grad            9.0
48835  25            Private  350977.0        HS-grad            9.0
48836  48          Local-gov  349230.0        Masters           14.0
48837  33            Private  245211.0      Bachelors           13.0
48838  39            Private  215419.0      Bachelors           13.0
48839  64                  ?  321403.0        HS-grad            9.0
48840  38            Private  374983.0      Bachelors           13.0
48841  44            Private   83891.0      Bachelors           13.0
48842  35       Self-emp-inc  182148.0      Bachelors           13.0

               marital-status         occupation     relationship  \
0               Never-married       Adm-clerical    Not-in-family
1          Married-civ-spouse    Exec-managerial          Husband
2                    Divorced  Handlers-cleaners    Not-in-family
3          Married-civ-spouse  Handlers-cleaners          Husband

## Q5) Use appropriate formatting for all columns

In [15]:
dataset_raw['occupation'].unique()
dataset_raw['occupation'] = dataset_raw['occupation'].apply(lambda x : str(x).strip())