# This case study consists of 1000 marks and the solution file is expected to be submitted in the upcoming session for evaluation.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import os

### Step 2. Import the dataset chipotle.tsv.

https://s3.amazonaws.com/acadgildsite/course/masteringdatascience/session8/chipotle.tsv

Read using pd.read_csv

In [3]:
pwd = os.getcwd()
pwd

'C:\\Users\\VAIBHAV\\Acadgild\\Case Study-session 8_15_&_18'

In [4]:
path=pwd + r"\\chipotle.tsv" #Provide path here
chipo = pd.read_csv(path, sep = '\t') #Read file using pandas

### Step 3. See the first 10 entries

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the number of observations in the dataset?

In [9]:
# Solution 1

  # entries <= 4622 observations
chipo.order_id.count()

4622

### Step 5. What is the number of columns in the dataset?

In [10]:
len(chipo.columns)

5

### Step 6. Print the name of all the columns.

In [11]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. How is the dataset indexed?

In [12]:
#RangeIndex(start=0, stop=4622, step=1)
chipo.set_index(pd.Index(range(4622)))

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 8. Which was the most-ordered item? 

(Replace *** with proper answer)

In [79]:
c = chipo.groupby('item_name') #Group by item_name 
c = c.sum                    #Get total items using sum
c = chipo.sort_values(by=['quantity'], ascending=False) #Sort quantity in descending order
c.head(1)                       #Display the first

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

### Step 9. What was the most ordered item in the choice_description column?

In [80]:
c = chipo.sort_values(by=['choice_description'], ascending=False)
c.head(1)

,order_id,quantity,item_name,choice_description,item_price,revenue
3245,1299,1,Barbacoa Bowl,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",8.99,8.99

### Step 10. How many items were ordered in total?

In [15]:
#4972
chipo['quantity'].sum()

4972

### Step 11. Turn the item price into a float

#### Step 11.a. Check the item price type

In [16]:
chipo['item_price'].dtype

dtype('O')

#### Step 11.b. Change the type of item price

In [17]:
#Remove $ sign attched with item price
import re
def sub_fnc(item):
    item = float(re.sub("\$", "", item))
    return item

In [18]:
chipo['item_price'] = chipo['item_price'].apply(sub_fnc)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### Step 11.c. Check the item price type

In [19]:
chipo['item_price'].dtype

dtype('float64')

### Step 12. How much was the revenue for the period in the dataset?

In [20]:
chipo['revenue'] = chipo.apply(lambda row: (row['quantity']*row['item_price']),
                                   axis=1)

In [21]:
#here revenue  = quantity * item_price
revenue = chipo['revenue'].sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 13. How many orders were made in the period?

In [22]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 14 What is the average revenue amount per order?

In [78]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']

order_grouped = chipo.groupby(by=['order_id']).mean()
order_grouped['revenue'].mean()
#Take Mean of order_grouped and select revenue column

9.111742932313597

### Step 15. How many different items are sold?

In [23]:
chipo.item_name.value_counts().count()

50

### Step 16. How many products cost more than $10.00? Please follow the comment.

Replace  **  with proper ans

In [40]:

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(subset = ['item_name', 'quantity'])

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo['quantity'] == 1]

chipo_one_prod.item_name.nunique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

50

### Step 17. What is price of each item with most to least expensive? 
###### Select a data frame with only two columns item_name and item_price

In [29]:
# select only the item_name and item_price columns
price_per_item = chipo[['item_name', 'item_price']]
# sort the values from the most to less expensive
price_per_item.sort_values(by='item_price', ascending=False)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3602               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
409                   Chicken Bowl       32.94
1255                 Steak Burrito       27.75
3603                 Steak Burrito       27.75
3636               Chicken Burrito       26.25
3634               Chicken Burrito       26.25
1514                  Chicken Bowl       26.25
3334                    Steak Bowl       26.07
281               Steak Salad Bowl       23.78
613               Steak Salad Bowl       23.78
4427                    Steak Bowl       23.50
1566                    Steak Bowl       23.50
506                  Carnitas Bowl       23.50
3754                    Steak Bowl       23.50
4307                    Steak Bowl       23.50
1753                 Steak Burrito       23.50
2954                 Steak Burrito       22.96
591             Chicken Salad Bowl       22.50
135             Chicken Salad Bowl       22.50
3507            Chicken Salad Bowl       22.50
213             Chicken Salad Bowl       22.50
1429                  Chicken Bowl       22.50
4423                  Chicken Bowl       22.50
1110            Chicken Salad Bowl       22.50
816             Chicken Salad Bowl       22.50
1923            Chicken Salad Bowl       22.50
...                            ...         ...
3145                   Canned Soda        1.09
3254                   Canned Soda        1.09
3683                   Canned Soda        1.09
622                    Canned Soda        1.09
780                  Bottled Water        1.09
3499                 Bottled Water        1.09
3221                   Canned Soda        1.09
1030                   Canned Soda        1.09
3576                   Canned Soda        1.09
1805                   Canned Soda        1.09
87                   Bottled Water        1.09
821                    Canned Soda        1.09
3715                   Canned Soda        1.09
3162                   Canned Soda        1.09
3716                   Canned Soda        1.09
370                    Canned Soda        1.09
200                    Canned Soda        1.09
2410                 Bottled Water        1.09
473                    Canned Soda        1.09
3718                   Canned Soda        1.09
956                    Canned Soda        1.09
3935                 Bottled Water        1.09
2584                   Canned Soda        1.09
195                    Canned Soda        1.09
107                    Canned Soda        1.09
3936                   Canned Soda        1.09
2922                 Bottled Water        1.09
1396                   Canned Soda        1.09
2562                   Canned Soda        1.09
1457                   Canned Soda        1.09

[4622 rows x 2 columns]

### Step 18. Sort by the name of the item

In [31]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price,revenue
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,25.96
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
3422,1373,1,6 Pack Soft Drink,[Coke],6.49,6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1922,776,1,6 Pack Soft Drink,[Coke],6.49,6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
3836,1537,1,6 Pack Soft Drink,[Coke],6.49,6.49
298,129,1,6 Pack Soft Drink,[Sprite],6.49,6.49
1976,798,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1167,481,1,6 Pack Soft Drink,[Coke],6.49,6.49
3875,1554,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1124,465,1,6 Pack Soft Drink,[Coke],6.49,6.49
3886,1558,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2108,849,1,6 Pack Soft Drink,[Coke],6.49,6.49
3010,1196,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4535,1803,1,6 Pack Soft Drink,[Lemonade],6.49,6.49
4169,1664,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4174,1666,1,6 Pack Soft Drink,[Coke],6.49,6.49
4527,1800,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4522,1798,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49,6.49
2389,949,1,6 Pack Soft Drink,[Coke],6.49,6.49
3132,1248,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49,6.49
639,264,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49,6.49
...,...,...,...,...,...,...
2996,1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
3163,1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49,8.49
4084,1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49,8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49,8.49
2756,1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.49,8.49
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25,11.25
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75,8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75,8.75
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25,11.25
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25,11.25
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98,33.96
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 19. How many times were a Veggie Salad Bowl ordered?

In [32]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 20. How many times people orderd more than one Canned Soda?

In [33]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20